/*  your css code here. If applicable */
h1#one{
	color=#2a7ae2;
}
h2#two{
	color=#f44336;
}
h3#three{
	color=#4caf50;
}
h4#four{
	color=#ff9800;
}
h5#five{
	color=#607d8b;
}
h6#six{
	color=#ffeb3b;
}
